main > h1{
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}
main > picture > img{
    width: 400px;
    height: 239px;
}

@media (max-width: 767px) {

    main > picture > img{
        width: 100%;
        height: auto;
    }

}