/* font-family: "Inter", sans-serif;
font-family: "Questrial", sans-serif;
font-family: "Montserrat Alternates", sans-serif;
font-family: "Montserrat", sans-serif; 
*/ 

body{
  margin: 0;
}

picture{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

a{
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

header > .container-logo{
  flex: 1;
  justify-content: left;
  display: flex;
}

header > .container-logo > a > .logo-portorepair-header{
  margin-left: 20px;
}

header > .container-logo > a > .logo-portorepair-header > img{
  width: 250px;
  height: 39px;
}

header > .container-menu{
  flex: 1;
  display: flex;
  justify-content: center;
}

#botao-hamburguer{
  display: none;
  
  picture > img{
      width: 45px;
      height: 45px;
  }
}

#menu{
  border-radius: 10px;
  background-color: #0046BF;
  display: flex;
  width: 380px;
  height: 50px;
}
#menu > ul{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

#menu > ul > .inicial{
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 5px;
}

#menu > ul > .inicial > a{
  display: flex;
  align-items: center;
}

#menu > ul > .inicial > a > img{
  width: 32.887px;
  transition: 0.2s;
}

#menu > ul > .inicial > a > img:hover{
  transform: scale(1.05);
}

#menu > ul > .inicial > hr{
  height: 100%;
  margin: 0;
  background-color: white;
  width: 2px;
  border: 0;
}
#menu > ul > .linha{
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 10px;
}

#menu > ul > .linha > hr{
  padding: 0;
  height: 65%;
  margin: 0;
  border: 0;
  background-color: white;
  width: 1px;
}

#menu > ul > li > a > p{
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  transition: 0.2s;
}

#menu > ul > li > a > p:hover{
  transform: scale(1.03);
  color: #ffffffd1;
}

header > .container-botao-log{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

header > .container-botao-log > a,
header > .container-botao-log > a > .log{
  display: flex;
  width: 240px;
  height: 60px;
  text-decoration: none;
  margin-right: 10px;
}

header > .container-botao-log > a > .log{
  border-radius: 5px;
  background: #2662C8;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
}

header > .container-botao-log > a > .log:hover{
  transform: scale(1.03);
  background-color: #fff;
  border: 1px solid #2662C8;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15);

p{
  color: #2662C8;
}
}

header > .container-botao-log > a > .log > picture,
header > .container-botao-log > a > .log > picture img{
width: 50px;
height: 50px;
}

header > .container-botao-log > a > .log > p{
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ---------- Footer */
footer{
  margin-top: 60px
}

footer > nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  padding: 20px 0 20px 0;
}

footer > nav > ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
}

#footer-porto,
#footer-portorepair,
#footer-portorepairia{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

#footer-porto > a > picture > img{
  width: 129px;
  height: 30.61px;
}
#footer-portorepair > a > picture > img{
  width: 164.348px;
}

#footer-portorepairia > a > picture > img{
  width: 164px;
}

/* @media (min-width: 1200px) and (max-width: 1399px) {

} */

@media (min-width: 992px) and (max-width: 1199px) {
    header > .container-menu{
      flex-direction: column;
      align-items: center;
    }

    #botao-hamburguer{
      display: flex;
    }

    #menu{
      display: none;
      width: 150px;
      height: 200px;
      position: absolute;
      top: 60px;

      ul{
        flex-direction: column;
      }
      ul > .inicial{
        height: auto;
        column-gap: 0;
      }
      ul > .inicial > hr{
        display: none;
      }
      ul > .linha{
        column-gap: 0;
        height: auto;
      }
      ul > .linha > hr{
        display: none;
      }

    }

}

@media (min-width: 768px) and (max-width: 991px) {
  header > .container-menu{
    flex-direction: column;
    align-items: center;
  }

  #botao-hamburguer{
    display: flex;
  }

  #menu{
    display: none;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 60px;

    ul{
      flex-direction: column;
    }
    ul > .inicial{
      height: auto;
      column-gap: 0;
    }
    ul > .inicial > hr{
      display: none;
    }
    ul > .linha{
      column-gap: 0;
      height: auto;
    }
    ul > .linha > hr{
      display: none;
    }
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  header > .container-logo{
    display: none;
  }

  header > .container-menu{
    flex-direction: column;
    align-items: center;
  }

  #botao-hamburguer{
    display: flex;
  }

  #menu{
    display: none;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 60px;

    ul{
      flex-direction: column;
    }
    ul > .inicial{
      height: auto;
      column-gap: 0;
    }
    ul > .inicial > hr{
      display: none;
    }
    ul > .linha{
      column-gap: 0;
      height: auto;
    }
    ul > .linha > hr{
      display: none;
    }
  }

}

@media (max-width: 576px) {

  header{
    flex-direction: column-reverse;
    row-gap: 10px;
    justify-content: center;
  }

  header > .container-logo{
    display: none;
  }

  header > .container-menu{
    flex-direction: column;
    align-items: center;
  }

  #botao-hamburguer{
    display: flex;
  }

  #menu{
    display: none;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 140px;

    ul{
      flex-direction: column;
    }
    ul > .inicial{
      height: auto;
      column-gap: 0;
    }
    ul > .inicial > hr{
      display: none;
    }
    ul > .linha{
      column-gap: 0;
      height: auto;
    }
    ul > .linha > hr{
      display: none;
    }
  }

  header > .container-botao-log > a > .log{
    margin-right: 0;
  }

  footer > nav > ul{
    flex-direction: column;
    row-gap: 40px;
  }

}